* {
    box-sizing: border-box;
}

body {
    font-family: @fontRoboto;
    font-style: normal;
    font-weight: normal;
    color: @baseColor;
    font-size: @baseFontSize;
    line-height: @baseLineHeight;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.bold-text {
    font-weight: 700;
}

.green-text {
    color: @Green;
    font-style: italic;
}

.controls {
    width: 270px;
    height: 8px;
    border-radius: 4px;
    background-color: #f7f7f7;
    display: flex;
    margin: 0 auto;

    &__item {
        display: block;
        width: 54px;
        height: 8px;
        cursor: pointer;
    }
}

.active {
    background-image: linear-gradient(to right, #92d2a7, #5ac7cc);
}

.subtitle {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #525252;
}

.transition {
    transition: all 0.3s ease-in;
}