section.assessment
    .container
        section.assessment-slider
            section.assessment-slider-item
                .assessment-slider-item-style
                    .assessment-slider-item-style__img
                        img(src="img/people.png", alt="LUIS GARCHIA")
                .assessment-slider-item-text
                    q Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                    span.assessment-slider-item-text-username #[span.assessment-slider-item-text-username__icon #[i(class="fas fa-user")]] LUIS GARCHIA
            section.assessment-slider-item
                .assessment-slider-item-style
                    .assessment-slider-item-style__img
                        img(src="img/people.png", alt="LUIS GARCHIA")
                .assessment-slider-item-text
                    q Lorem ipsum dolor sit amet, consectetuer adipiscing elitsed the diam nonummy nibh euismod tincidunt.
                    span.assessment-slider-item-text-username #[span.assessment-slider-item-text-username__icon #[i(class="fas fa-user")]] LUIS GARCHIA
        .slide-controls.assessment--control-position
            button.slide-controls__arrow.slide-controls__arrow--left.slide-controls__arrow--border #[i(class="fa fa-long-arrow-left" aria-hidden="true")]
            button.slide-controls__arrow.slide-controls__arrow--right.slide-controls__arrow--border #[i(class="fa fa-long-arrow-right" aria-hidden="true")]