section.features
    section.container
        section.features-description
            h2.features-description__title we are #[span.bold-text organic farmfood]
            span.subtitle About naturix farmfood
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        section.features-info
            section.features-info-card
                h6.features-info-card__title fresh from naturix farm
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                a.features-info-card__button(href="#!") Read more

