footer.footer
    section.container
        section.footer-wrapper
            section.footer-contacts
                .footer-contacts-logo
                    span.bold-text Logo
                    |  Here
                .line-small-green.footer-line--indents
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                .footer-contacts-box
                    span.footer-contacts__icon #[i(class="fas fa-map-marker-alt")]
                    span #[span.bold-text 100 highland ave], california, united state
                .footer-contacts-box
                    span.footer-contacts__icon #[i(class="fas fa-envelope-square")]
                    span statecontact@naturix.com
                .footer-contacts-box
                    span.footer-contacts__icon #[i(class="fas fa-phone-square")]
                    a.footer-contacts-box__link-site(href="#!") www.website.com
            section.footer-links
                .footer-links-info
                    h6.title-6 naturix #[span.bold-text information]
                    .line-small-green.footer-line--indents
                    .footer-links-box
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | about our shop
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | top sellers
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | our blog
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | new products
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | secure shopping
                .footer-links-account
                    h6.title-6 my #[span.bold-text account]
                    .line-small-green.footer-line--indents
                    .footer-links-box
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | my account
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | discount
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | personal information
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | my address
                        a.footer-link(href="#!") 
                            span.footer-link__icon #[i(class="fa fa-arrow-circle-o-right" aria-hidden="true")] 
                            | order history
            section.footer-photo
                h6.title-6 photo #[span.bold-text instagram]
                .line-small-green.footer-line--indents
                .footer-photo-instagram
                    img.footer-photo-instagram__img(src="img/footer/footer-img-1.png", alt="photo from insta")
                    img.footer-photo-instagram__img(src="img/footer/footer-img-2.png", alt="photo from insta")
                    img.footer-photo-instagram__img(src="img/footer/footer-img-3.png", alt="photo from insta")
                    img.footer-photo-instagram__img(src="img/footer/footer-img-4.png", alt="photo from insta")
                    img.footer-photo-instagram__img(src="img/footer/footer-img-5.png", alt="photo from insta")
                    img.footer-photo-instagram__img(src="img/footer/footer-img-6.png", alt="photo from insta")
    section.footer-copyright
        a.footer-copyright-link-up(href="#!") #[i(class="fa fa-arrow-circle-o-up" aria-hidden="true")]
        section.container.footer-copyright--position
            .footer-copyright-text
                span &copy; 2019 ,, all right reserved 
            nav.navigation
                a.navigation__link.footer-copyright--nav-style(href="#!") contact us
                a.navigation__link.footer-copyright--nav-style(href="#!") term of use
                a.navigation__link.footer-copyright--nav-style(href="#!") site map
                a.navigation__link.footer-copyright--nav-style(href="#!") privacy policy