header.header
    section.header-top-wrapper
        section.header-left
            section.header-logo #[span.bold-text Logo] Here
        section.header-right
            nav.navigation.header--navigation-align
                a.navigation__link(href="#!") Home
                a.navigation__link(href="#!") About us
                a.navigation__link(href="#!") Shop
                a.navigation__link(href="#!") Blog
                a.navigation__link(href="#!") Contact us
            section.header-basket
                a(href="#!")
                    span.header-basket__counter 2
                    img(src="img/svg/cart-shop.svg", alt="basket")
                span.header-basket__price $.00
            a(href="#!").header-menu
                span.header-menu__line
                span.header-menu__line-middle
                span.header-menu__line
                span.header-menu__line-small
    section.header-slider
        section.container
            h1.title-1.header-slider--indents Free Download #[span.bold-text Healthy PSD]
            p Organic fruits, vegetables, and lot more to your door
            .header-slider__button--gradient
                a(href="#!").header-slider__button Download
    .header-lines
    section.header-social-icons
        a.header-social-icons__item(href="#!") #[i(class="fa fa-facebook")]
        a.header-social-icons__item(href="#!") #[i(class="fab fa-twitter")]
        a.header-social-icons__item(href="#!") #[i(class="fab fa-google-plus-g")]
        a.header-social-icons__item(href="#!") #[i(class="fab fa-linkedin-in")]
        a.header-social-icons__item(href="#!") #[i(class="fab fa-instagram")]
    section.header-controls
        .header-controls-state
            span.header-controls-state__current-slide 02
            span.header-controls-state__total-slides / 05
        .slide-controls
            button.slide-controls__arrow.slide-controls__arrow--left #[i(class="fa fa-long-arrow-left" aria-hidden="true")]
            button.slide-controls__arrow.slide-controls__arrow--right #[i(class="fa fa-long-arrow-right" aria-hidden="true")]
    section.header-copyright
        span.bold-text &copy; naturix 
        | farmfood. 
        span.green-text organic 100% guarantee