section.news
    section.container
        section.news-titles
            span.subtitle NATURIX BLOG
            h2.news-titles__title naturix #[span.bold-text latest news]
        section.news-cards
            section.news-cards-card
                .news-cards-card-style
                    img.news-cards-card-style__img(src="img/products/products.jpg", alt="products")
                .news-cards-card-info
                    span.news-cards-card-info__date 26 june 2018
                    h5.news-cards-card-info__title 5 best foods to make you #[br] #[span.bold-text fresh &amp; healthy]
                    span.small-line
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
                    a.news-cards-card-info__link(href="#!") READ ARTICLE #[i(class="fa fa-long-arrow-right" aria-hidden="true")]
            section.news-cards-card
                .news-cards-card-style
                    img.news-cards-card-style__img(src="img/products/products.jpg", alt="products")
                .news-cards-card-info
                    span.news-cards-card-info__date 26 june 2018
                    h5.news-cards-card-info__title 5 best foods to make you #[br] #[span.bold-text fresh &amp; healthy]
                    span.small-line
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
                    a.news-cards-card-info__link(href="#!") READ ARTICLE #[i(class="fa fa-long-arrow-right" aria-hidden="true")]