section.product-preview
    .container
        section.select-panel
            section.select-panel-buttons-wrapper
                button.button-select organic #[span.bold-text fruits]
                button.button-select organic #[span.bold-text vegetables]
            a.select-panel-logo(href="#!")
                img(src="img/badges/badge.png", alt="badge")
            section.select-panel-buttons-wrapper
                button.button-select organic #[span.bold-text juices]
                button.button-select organic #[span.bold-text dried fruits]
    section.slider-wrapper
        section.slider
            +productCard("organic", "img/products/product-1.png", "tomato", "tomato")
                +price("$50.00")
            +productCard("organic", "img/products/product-2.png", "cabbage", "cabbage")
                +price("$50.00")
            +productCard("organic", "img/products/product-3.png", "cherry", "cherry")
                +price("$50.00")
            +productCard("organic", "img/products/product-4.png", "ginger", "true", "ginger")
                +price("$50.00")
        section.controls
            span.controls__item
            span.controls__item.active
            span.controls__item
            span.controls__item
            span.controls__item
