section.products-info
    section.container
        section.products-info-preview
            section.products-info-preview-cards
                +productInfoPreviewCard("organic", "fruits", "img/preview/fruits.png", "52 items", "fruits")
                +productInfoPreviewCard("fresh", "vegetables", "img/preview/vegetables.png", "35 items", "vegetables")
                +productInfoPreviewCard("organic", "breads", "img/preview/breads.png", "32 items", "breads")
            section.products-info-preview-description
                span.subtitle Fresh from our farm  
                h3.title-3.products-info-preview-description--title-indents 220+ #[span.bold-text fruits, vegetables] &amp; #[span.bold-text lot more]
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        section.products-info-preview.products-info-preview--direction
            section.products-info-preview-cards.products-info-preview-cards--indents
                +productInfoPreviewCard("organic", "juices", "img/preview/juices.png", "26 items", "juices")
                +productInfoPreviewCard("dried", "juices", "img/preview/drink.png", "31 items", "drink")
                +productInfoPreviewCard("organic", "tea", "img/preview/tea.png", "17 items", "tea")
            section.products-info-preview-description.products-info-preview-description--indents
                span.subtitle Fresh from our farm
                h3.title-3.products-info-preview-description--title-indents 115+ #[span.bold-text organic juices] and #[span.bold-text organic tea]
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

