section.sale
    img.sale-style__img-1(src="img/background/leafbg.png", alt="leaf background")
    img.sale-style__img-2(src="img/background/treebg.png", alt="branch background")
    section.container
        section.sale-head
            section.sale-head-title-wrapper
                span.subtitle Naturix deal of the day
                h2.sale-head__title organic goods #[span.bold-text 50%] off
            section.sale-head-logo
                img(src="img/logo/tomato-logo.png", alt="logo")
            section.sale-head-description
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .sale-head-line-box
            span.sale-head-line-box__green-line
        section.sale-timer
            .sale-timer-style
                .sale-timer-style__counter
                    span.sale-timer-style__counter-quantity 28
                    span.sale-timer-style__counter-text days
            .sale-timer-style
                .sale-timer-style__counter
                    span.sale-timer-style__counter-quantity 25
                    span.sale-timer-style__counter-text hours
            .sale-timer-style
                .sale-timer-style__counter
                    span.sale-timer-style__counter-quantity 57
                    span.sale-timer-style__counter-text mins
            .sale-timer-style
                .sale-timer-style__counter
                    span.sale-timer-style__counter-quantity 36
                    span.sale-timer-style__counter-text secs
        section.sale-goods-cards
            section.sale-goods-cards__card
                section.card-elements
                    span.card-elements__item.card-elements__item--heart #[i(class="fas fa-heart")]
                    span.card-elements__item.card-elements__item--basket #[i(class="fas fa-shopping-basket")]
                    span.card-elements__item.card-elements__item--size #[i(class="fas fa-arrows-alt")]
                section.card-content
                    span.card-content__subtitle Organic fruits
                    h4.card-content__title fresh #[span.bold-text rasberry]
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
                    span.card-content__price $50.00  
                        span.card-content__price--oldprice $65.00
                section.card-container
                    .sale-badges
                        span.sale-badges__badge.sale-badges__badge--new New
                        span.sale-badges__badge.sale-badges__badge--sale Sale
                    .card-container__img
                        img(src="img/products/rasberry.png", alt="rasperry")
            section.sale-goods-cards__card
                section.card-elements
                    span.card-elements__item.card-elements__item--heart #[i(class="fas fa-heart")]
                    span.card-elements__item.card-elements__item--basket #[i(class="fas fa-shopping-basket")]
                    span.card-elements__item.card-elements__item--size #[i(class="fas fa-arrows-alt")]
                section.card-content
                    span.card-content__subtitle Organic fruits
                    h4.card-content__title fresh #[span.bold-text pineapple]
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...
                    span.card-content__price $50.00  
                        span.card-content__price--oldprice $65.00
                section.card-container
                    .sale-badges
                        span.sale-badges__badge.sale-badges__badge--new New
                        span.sale-badges__badge.sale-badges__badge--sale Sale
                    .card-container__img
                        img(src="img/products/product-5.png", alt="pineapple")
        section.sale-pagination
            button.sale-pagination__item 1
            button.sale-pagination__item 2
            button.sale-pagination__item 3
