section.subscription
    img.subscription__style-img.subscription__style-img--position-1(src="img/background/fruitbg.png", alt="fruitbg")
    img.subscription__style-img.subscription__style-img--position-2(src="img/background/leftsubscribebg.png", alt="leftsubscribebg")
    section.container
        section.subscription-wrapper
            section.subscription-titles
                span.subtitle Join our newsletter
                h2.subscription-titles__title subscribe #[span.bold-text newsletter]
            form.subscription-form(action="#!")
                input.subscription-form__email(type="email" placeholder="enter your email address")
                button.subscription-form__submit(type="submit") subscribe #[i(class="fa fa-long-arrow-right" aria-hidden="true")]
