include ../mixins/product-card.pug
include ../mixins/feature-card.pug
include ../mixins/products-info-preview-card.pug
include ../mixins/goods-card.pug
include ../mixins/random-product-card.pug
include ../mixins/price.pug