extends ./pug/layouts/page-layout/page.pug
block variables
    - const title = 'Healthy food'
block content
    include ./pug/sections/header.pug
    main(role="main")
        include ./pug/sections/product-preview.pug
        include ./pug/sections/features.pug
        include ./pug/sections/products-info.pug
        include ./pug/sections/goods.pug
        include ./pug/sections/sale.pug
        include ./pug/sections/random-products.pug
        include ./pug/sections/subscription.pug
        include ./pug/sections/assessment.pug
        include ./pug/sections/news.pug